<div class="body">
  <div class="frame">
    <section class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            ユーザー編集
          </h1>
        </div>
      </div>
    </section>

    <% if @user.errors.any? %>
      <div class="notification is-danger">
        <h2>
          <%= pluralize(@user.errors.count, "error" ) %> prohibited this object from being saved: not successfully
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
      <% end %>


        <section class="section">
          <div class="container" style="text-align: center;">
            <div class="column is-6">
              <div class="columns is-centered">
                <%= form_for(@user,:html=> { :style => 'padding:0px;'}) do |f| %>
                  <div class="top-page">
                    <span class="top-page-border"></span>
                    <div class="content-image pt-10">
                      <label for="user_profile_image" tabIndex="0" style="cursor: pointer;">
                        <% if @user.profile_image? %>
                          <%= image_tag @user.profile_image.url, class:"profile-image" %>
                            <% else %>
                              <img src="/assets/no_image.png" alt="" class="user-show-no-img">
                              <% end %>
                                <%= f.file_field :profile_image, class: "input hide-input" %>
                      </label>
                    </div>
                    <div class="field input-username">
                      <div>
                        <%= f.label :username, "USERNAME" , class: "label" %>
                      </div>
                      <%= f.text_field :username, class: "input input-username-field" , placeholder: "username" %>
                        <%= f.submit '変更' , class: "button is-success" %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        </section>
  </div>
</div>
